{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="fade-out-element h-100">Test</div>
    <div class="container box_color h-100 hero">
        <h3 class="display-4 logo-font text-white">
            The new collections are here
        </h3>
        <hr class="text-white">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto box_blue">
                <h1 class="display-4 logo-font text-white">
                    The new collections are here
                </h1>
            </div>
            <div class="col-7 col-md-6 my-auto box_blue">
                <h1 class="display-4 logo-font text-white">
                    The new collections are here
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    var element = document.querySelector('.fade-out-element');
    function fadeOut(el) {
        var opacity = 1; // Initial opacity
        var interval = setInterval(function () {
            if (opacity > 0) {
                opacity -= 0.1;
                el.style.opacity = opacity;
            } else {
                clearInterval(interval); // Stop the interval when opacity reaches 0
                el.style.display = 'none'; // Hide the element
            }
        }, 450);
    }
    fadeOut(element);
</script>
{% endblock %}