{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mt-5 pb-3">
    <h3 class="display-4 logo-font p-3 d-flex justify-content-center text-white">
      Thank you
    </h3>
    <hr class="text-white">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <hr>
            <p class="text-white">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="order-confirmation-wrapper p-2 border"  style="background-color: #D1CEAFff;">
                <div class="row">
                    <div class="col">
                        <div class="text-black font-weight-bold">Order Info:</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="text-muted mb-0 font-weight-bold">Order Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.order_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="text-muted mb-0">Order Date</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.date }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="text-black font-weight-bold">Order Details:</div>
                    </div>
                </div>

                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-muted font-weight-bold">
                            {{ item.product.name }}{% if item.product_size %} - Size {{ item.product.size|upper }}{% endif %}
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ item.quantity }} @ &#8364;{{ item.product.price }} each</p>
                    </div>
                </div>
                {% endfor %}

                <div class="row">
                    <div class="col">
                        <div class="text-black">Delivering To:</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="text-muted mb-0 font-weight-bold">Full Name</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.full_name }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-muted font-weight-bold">Address 1</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.street_address1 }}</p>
                    </div>
                </div>

                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-muted font-weight-bold">Address 2</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                </div>
                {% endif %}

                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-muted font-weight-bold">County</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-muted font-weight-bold">Town or City</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.town_or_city }}</p>
                    </div>
                </div>

                {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-muted font-weight-bold">Postal Code</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-muted font-weight-bold">Country</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.country }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-muted font-weight-bold">Phone Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.phone_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <small class="text-black">Billing Info:</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-muted font-weight-bold">Order Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.order_total }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-muted font-weight-bold">Delivery</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.delivery_cost }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-muted font-weight-bold">Grand Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0 text-black">{{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center my-2">
        <div class="col-12 col-lg-7 text-right">
            <a href="{% url 'profile' %}" class="btn rounded-0 my-2">
                <span class="icon mr-2">
                    <i class="fas fa-angle-left"></i>
                </span>
                <span class="text-uppercase text-black">Back to Profile</span>
            </a>
        </div>
    </div>
</div>
<footer></footer>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(function (toastEl) {
        return new bootstrap.Toast(toastEl)
    })
</script>
{% endblock %}