html {
    height: 100%;
}

body {
    font-family: 'Roboto';
    background-color: #194759;
    margin-top: 100px;
}

img {
    aspect-ratio: attr(width) / attr(height);
}

.navbar {
    background-color: #A7F2E4;
    height: 130px;
}

.bg-bag {
    background-color: #194759;
    color: #ebf2f1;
    text-decoration: none;
}

.bg-bag:hover {
    background-color: #7EBFB3;
    color: #194759;
    border: solid 1px #194759;
}

.btn-bg {
    background-color: #194759;
    font-size: 1em;
    color: #ebf2f1;
    padding: 5px 10px;
} 

.btn-bg:hover {
    background-color: #7EBFB3;
    color: #194759;
    border: solid 1px #194759;
}  

.fa-bars {
    font-size:2em; 
    cursor: pointer;
}

.img-logo {
    width: 50%;
    display: block;
    margin: auto;
}

.container{
    background-color: #7EBFB3;
    color: #194759;
}

.logo-font {
    font-family: 'Agbalumo';
}

hr,h1, h2, h3 {
    color: #194759 !important;
}

h5 {
    color: #ebf2f1 !important;
}

p {
    line-height: 1.8;
    color: #194759 !important;
}

.p_white {
    color: #ebf2f1 !important;
}

.p_dark {
    color: #194759 !important;
}

.offcanvas {
    background-color: #194759 !important;
    color: #ebf2f1 !important;
}

.box_color{
    border: solid 5px red;
}

.box_blue {
    border: solid 5px blue;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 90%;
    position: relative;
    top: 0;
    left: 0;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown_btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    position:relative;
    color: white !important;
    width: 100%;

}

/* On mouse-over */
.sidenav a:after,
.dropdown_btn:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 10px;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.45s ease-out;
}
.sidenav a:hover:after,
.dropdown_btn:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* /* Dropdown  */
.slidedown {
    display: none;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 20px;
}

.material-icons {
    float: right;
    padding: 8px 30px 0 0;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #194759 !important;
    color: #ebf2f1 !important;
}

a.category-badge>span.badge:hover {
    background: #194759 !important;
    color: #ebf2f1 !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}


footer{
    width: auto;
    height: 90px;
    bottom: 0;
}

.footer_btn {
    width: fit-content;
    margin: auto;
    border-radius: 25px 25px 0 0;
    color: #ebf2f1 !important;
}

.footer_btn:hover {
    background-color: #7EBFB3 !important;
    color: #194759 !important;
}

.nav-link:hover {
    color: #7EBFB3 !important;
}

.show:hover {
    display: block;
}

.card, .card-body, .card-footer {
    background-color: #194759;
}

.btn {
    background: #194759 !important;
    color: #ebf2f1 !important;
    border: solid 2px #194759;
}

.btn:hover {
    background: #7EBFB3 !important;
    color: #194759 !important;
    border: solid 2px #194759;
}

.btn_ligth {
    background: #7EBFB3 !important;
    color: #194759!important;
    border: solid 2px #194759;
}

.btn_ligth:hover {
    background: #ebf2f1 !important;
    color: #194759 !important;
}

button[type=submit] {
    background-color: #194759 !important;
    color: #ebf2f1 !important;
}

button[type=submit]:hover {
    background-color: #7EBFB3 !important;
    color: #194759 !important;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    top: 130px;
    right: 15px;
    z-index: 99999999999;
    color: #ebf2f1;
    width: fit-content;
}

.toast {
    background-color: #194759;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 30px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 40px;
    height: 30px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 40px solid black;
    position: absolute;
    top: -15px;
    right: 20px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #1d6dfc!important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #198754 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #02c9f8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #1e2125 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Gallery page */
.grid-container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5em;
}

.images {
    width: 100%;
    height: 100%;
    object-fit:cover; /* or "contain" */
  }

  /* Mailchimp */

#mc_embed_signup {
    padding: 0;
    }
/* button layout */
.float-end, .float-start {
        margin: 20px;
    }
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
    margin-bottom: 1.2rem;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

.form-control{
    background-color: #ebf2f1;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Use a media query to add a breakpoint between 528px and 888px */
@media (min-width: 528px) and (max-width:888px) {
    .message-container {
        top: 90px;
        right: 0;
        max-width: 100%;

    }

    img {
        aspect-ratio: attr(width) / attr(height);
    }

    .arrow-up {
        right: 10px;
    }
    
    .navbar {
        height: 80px;
    }
    
    .img-logo {
        max-width: 22% !important;
        margin-left: 12em;
    }

    .bg-bag {
        background-color: #194759;
        color: #ebf2f1;
        text-decoration: none;
        max-width: 100%;
        font-size: 0.7em;
        margin-right: 10px !important;
        margin-top: 15px !important;
        position: absolute;
        float: right;
        padding: 5px 10px 5px 10px !important;
    }

    .btn-bg {
        background-color: #194759;
        font-size: 1em;
        color: #ebf2f1;
        max-width: 100%;
        font-size: 0.7em;
        margin-left: 10px !important;
        margin-top: -2px !important;
        position: absolute;
        float: left;
    } 
    /* Exhibitions page */
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .float-end, .float-start {
        font-size: 0.8em;
    }


}
  

/* Use a media query to add a breakpoint between 390px and 528px */
@media (min-width: 390px) and (max-width:528px) {
    .message-container {
        top: 90px;
        right: 0;
        max-width: 100%;

    }

    img {
        aspect-ratio: attr(width) / attr(height);
    }
    .arrow-up {
        right: 10px;
    }
    
    .navbar {
        height: 80px;
    }
    
    .img-logo {
        max-width: 32% !important;
    }

    .bg-bag {
        background-color: #194759;
        color: #ebf2f1;
        text-decoration: none;
        max-width: 100%;
        font-size: 0.7em;
        margin-right: 10px !important;
        margin-top: 15px !important;
        position: absolute;
        float: right;
        padding: 5px 10px 5px 10px !important;
    }

    .btn-bg {
        background-color: #194759;
        font-size: 1em;
        color: #ebf2f1;
        max-width: 100%;
        font-size: 0.7em;
        margin-left: 10px !important;
        margin-top: -2px !important;
        position: absolute;
        float: left;
    } 
    /* Exhibition page */
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .float-end, .float-start {
        float: left !important;
        margin-bottom: 5px;
    }


}
   
/* Use a media query to add a breakpoint between 378px and 390px */
@media (min-width: 378px) and (max-width:390px) {
    .message-container {
        top: 90px;
        right: 0;
        max-width: 100%;

    }

    img {
        aspect-ratio: attr(width) / attr(height);
    }
    .arrow-up {
        right: 10px;
    }
    
    .navbar {
        height: 80px;
    }
    
    .img-logo {
        max-width: 45% !important;
    }

    .bg-bag {
        background-color: #194759;
        color: #ebf2f1;
        text-decoration: none;
        max-width: 100%;
        font-size: 0.7em;
        margin-right: 10px !important;
        margin-top: 15px !important;
        position: absolute;
        float: right;
        padding: 5px 10px 5px 10px !important;
    }

    .btn-bg {
        background-color: #194759;
        font-size: 1em;
        color: #ebf2f1;
        max-width: 100%;
        font-size: 0.7em;
        margin-left: 10px !important;
        margin-top: -2px !important;
        position: absolute;
        float: left;
    } 

    .float-end, .float-start {
        float: left !important;
        margin-bottom: 5px;
    }

}

/* Use a media query to add a breakpoint between 300px and 378px */
@media (min-width: 300px) and (max-width:378px) {
    .message-container {
        top: 90px;
        right: 0;
        max-width: 100%;

    }

    img {
        aspect-ratio: attr(width) / attr(height);
    }
    
    .arrow-up {
        right: 10px;
    }
    

    .container {
            max-width: 100%;
            padding: 0;
    }

    h3 {
        font-size: 1.5em !important;
    }

    h5 {
        font-size: 0.8em !important;
    }

    h4 {
        font-size: 1em;
    }
    
    .navbar {
        height: 80px;
    }

    .img-logo {
        max-width: 45% !important;
    }

    .bg-bag {
        background-color: #194759;
        color: #ebf2f1;
        text-decoration: none;
        max-width: 100%;
        font-size: 0.7em;
        margin-right: 10px !important;
        margin-top: 15px !important;
        position: absolute;
        float: right;
        padding: 5px 10px 5px 10px !important;
    }

    .btn-bg {
        background-color: #194759;
        font-size: 1em;
        color: #ebf2f1;
        max-width: 100%;
        font-size: 0.7em;
        margin-left: 10px !important;
        margin-top: -2px !important;
        position: absolute;
        float: left;
    } 

    .btn {
        font-size: 0.8em;
    }

    .fa-minus, .fa-plus {
        font-size: 1em;
        padding: 0.5em;
    }

    .form-control {
        font-size: 1em !important;
    }

    .footer_btn {
        margin: auto;
        font-size: 0.5em;
    }



    .p_dark, .p_white {
        font-size: 0.8em !important;
    }

    .font_checkout {
        font-size: 0.8em;
    }

    .float-end, .float-start {
        float: left !important;
        margin-bottom: 5px;
    }

}
