html {
    height: 100%;
}

body {
    color: black;
    font-family: 'Lato';
    background: url("https: //res.cloudinary.com/dhl4uxgix/image/upload/v1697556981/Art%20Gallery/vecteezy_expert-carpenter-creates-art-using-old-wood-generated-by-ai_25121219_700_ockagd.jpg") center/cover no-repeat fixed;
}

.box_color{
    border: solid 5px red;
}

.box_blue {
    border: solid 5px blue;
}

.fade-out-element {
    background-color: black;
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
}
/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 90%;
    position: relative;
    top: 0;
    left: 0;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown_btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    position:relative;
    color: gray;
    width: 100%;

}

/* On mouse-over */
.sidenav a:after,
.dropdown_btn:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 10px;
        background-color: gray;
        transform-origin: bottom right;
        transition: transform 0.45s ease-out;
}
.sidenav a:hover:after,
.dropdown_btn:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.slidedown {
    display: none;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 20px;
}

.sidenav_gallery a,
.button_dropdown {
    padding: 10px;
    text-decoration: none;
    font-size: 1.2em;
    display: block;
    border-top: solid black 2px;
    background: white;
    text-align: center;
    cursor: pointer;
    position: relative;
    color: black;
    width: 20%;
    margin: auto;
}

.slidedown_gallery {
    display: none;
    padding-left:0;
}

.material-icons {
    float: right;
    padding: 8px 30px 0 0;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    opacity: 0.6;
    z-index: -1;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position:fixed;
    top: 72px;
    right: 45px;
    width: 380px;
    height: 420px;
    z-index: 99999;
}

.toast-header {
    overflow: visible;
    height: 70px;
}

.toast-capper {
    width: 100%;
    position: relative;
}
/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}