.order-history {
    max-height: 416px;
    /* height of profile form + submit button */
    overflow-y: auto;
    background-color: #ebf2f1;
    padding: 10px;
}

#profile-update-form .form-control {
    background-color: #ebf2f1;
    color: #194759;
    margin-bottom: 1rem;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #194759;
}

#id_default_country option:first-child {
    color: #aab7c4;
}