{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container mt-5">
    <h3 class="display-4 logo-font p-3 d-flex justify-content-center text-white">
        Elena's Talent Artist
    </h3>
    <hr class="text-white">
    <div class="row cols-md-2 mb-5">
        <div class="col-xl-6 text-center mt-3 p-5">
            <div>
                {% if home_personal.image %}
                    <img class="card-img-top img-fluid" src="{{ home_personal.image.url }}" alt="{{ home_personal.name }}">
                {% else %}
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="No image on the display as mute photo image">
                {% endif %}
            </div>
        </div>
        <div class="col-xl-6 p-5">
            <div>
                <div class="col mt-3 p-3 border border-white">
                    <h1 class="text-white">{{ home_personal.head }}</h1>
                    <br>
                    <p> {{ home_personal.info|linebreaks }} </p>
                </div>
            </div>
            {% if request.user.is_superuser %}
            <small>
                <a class="btn rounded-0 my-3" href="{% url 'edit_home_page' %}">Edit your personal page</a>
            </small>
            {% endif %}
        </div>
    </div>
</div>
<footer></footer>
{% endblock %}