{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row d-flex justify-content-center my-3">
        <div class="col-md-8 text-white dark-bg my-3 p-5" style=" line-height: 1.8;">
            <h3>Message Auto Responsed</h3>



            <p>Hello,</p>

            <p>Thank you for contacting our art gallery. We have received your inquiry and we will send you an email with more information about your request as soon as possible. We are looking forward to discussing your needs and providing you with the best possible experience.</p>

            <p>Thank you for choosing our gallery to meet your artistic needs. If you have any further questions, please don't hesitate to ask. We are always happy to help!</p>

                <p>Best regards,</p>

                <p>Elena Sawczenko</p>
            
           </div>
    </div>
</div>
{% endblock %}