{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5 pb-5">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class=" display-4 logo-font p-3">Category Painting</h2>
            <hr class="w-100 mb-3">
        </div>
        {% if request.user.is_superuser %}
            <div class="col-12 text-right">
                <form method="POST" action="{% url 'add_category' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.name != 'image' %}
                    {{ field | as_crispy_field }}
                    {% else %}
                    {{ field }}
                    {% endif %}
                    {% endfor %}
                    <div class="text-right mt-3">
                        <button class="btn rounded-0" type="submit">Add category</button>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
<div class="row">
    <div class="product-container col-10 offset-1">
        <div class="row mt-1 mb-2"></div>
        <div class="row">
            {% for categoriesgroup in categoriesgroups %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card h-100 border-0">
                    {% if categoriesgroup.image %}
                    <img class="card-img-top img-fluid" src="{{ categoriesgroup.image.url }}" alt="{{ categoriesgroup.name }}">
                    {% else %}
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ categoriesgroup.name }}">
                    {% endif %}
                    <div class="card-footer pt-0 border-0 text-left">
                        <div class="row">
                            <div class="col mt-0">
                            <div class="card-body mt-0">
                                <h5 class="card-title">{{ categoriesgroup.name }}</h5>
                                <p class="card-text p_white">{{categoriesgroup.description}}</p>
                                {% if categoriesgroup.category %}
                                    <div class="d-flex justify-content-center">
                                        <a class="btn btn_ligth rounded-0 mt-1" href="{% url 'products' %}?category={{ categoriesgroup.category.name }}">{{ categoriesgroup.name }}</a>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if request.user.is_superuser %}
                            <small class="ml-3">
                                <div class="d-flex justify-content-between">
                                    <a class="btn btn_ligth rounded-0 mt-1" href="{% url 'edit_category' categoriesgroup.id %}">Edit</a> |
                                    <a class="btn btn_ligth rounded-0 mt-1" href="{% url 'delete_category' categoriesgroup.id %}">Delete</a>
                                </div>
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:1 %}
            <div class="col-12 d-sm-none mb-1">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:2 %}
            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-1">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
            <div class="col-12 d-none d-lg-block d-xl-none mb-1">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:4 %}
            <div class="col-12 d-none d-xl-block mb-1">
                <hr>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
</div>
<footer></footer>
{% endblock %}
