{% extends "base.html" %}
{% load static %}

{% block page_header %}
<a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
    href="{% url 'gallery_view_bag' %}">
    <div class="text-center position-absolute top-0 end-0 mt-3 me-5 pt-2 px-3 bg-white rounded-3">
        <div><i class="fas fa-shopping-bag fa-lg"></i></div>
        <p class="my-0 text-black">
            {% if grand_total %}
            &#8364;{{ grand_total|floatformat:2 }}
            {% else %}
            &#8364;0.00
            {% endif %}
        </p>
    </div>
</a>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mt-0 pb-5">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class=" display-4 logo-font p-3 text-white">Category Painting</h2>
            <hr class="w-100 mb-3 text-white">
        </div>
    </div>
<div class="row">
    <div class="product-container col-10 offset-1">
        <div class="row mt-1 mb-2"></div>
        <div class="row">
            {% for categoriesgroup in categoriesgroups %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card h-100 border-0">
                    {% if categoriesgroup.image %}
                    <img class="card-img-top img-fluid" src="{{ categoriesgroup.image.url }}" alt="{{ categoriesgroup.name }}">
                    {% else %}
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ categoriesgroup.name }}">
                    {% endif %}
                    <div class="card-footer pt-0 border-0 text-left">
                        <div class="row">
                            <div class="col mt-0">
                            <div class="card-body mt-0">
                                <h5 class="card-title text-white">{{ categoriesgroup.name }}</h5>
                                <p class="card-text text-white">{{categoriesgroup.description}}</p>
                                {% if categoriesgroup.category %}
                                <a class="btn" href="{% url 'products' %}?category={{ categoriesgroup.category.name }}">{{ categoriesgroup.name }}</a>
                                {% endif %}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}

{% if messages %}
<div class="message-container fade show">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
</div>
{% endif %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(function (toastEl) {
        return new bootstrap.Toast(toastEl)
    })
</script>
{% endblock %}