{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Category Painting</h2>
            <hr class="w-100 mb-1">
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center p-2">
        <div class="card bg-dark" style="width: 18rem;">
            <img src="/media/vecteezy_abstract-colorful-oil-painting-background-illustration-ai_24399066_912_O0c829R.jpg" class="card-img-top" alt="oil Painting">
            <div class="card-body">
                <h5 class="card-title text-white">Oil Painting</h5>
                <p class="card-text text-white bg-dark">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
                <a class="btn btn-primary" href="{% url 'products' %}?category=Oil Painting">Oil Painting</a>
            </div>
        </div>
        </div>
        <div class="col d-flex justify-content-center p-2">
        <div class="card bg-dark" style="width: 18rem;">
            <img src="/media/vecteezy_abstract-colorful-oil-painting-background-illustration-ai_24399310_64_PWSiZA6.jpg" class="card-img-top" alt="Texture Painting">
            <div class="card-body">
                <h5 class="card-title text-white">Texture Painting</h5>
                <p class="card-text text-white bg-dark">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a class="btn btn-primary" href="{% url 'products' %}?category=Texture Painting">Texture Painting</a>
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center p-2">
        <div class="card bg-dark " style="width: 18rem;">
            <img src="/media/vecteezy_background-flower-geranium-garden-flowers-a-bouquet-of_3823527_89_l3fb7Zx.jpg" class="card-img-top" alt="Water Painting">
            <div class="card-body">
                <h5 class="card-title text-white">Water Painting</h5>
                <p class="card-text text-white bg-dark">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a class="btn btn-primary" href="{% url 'products' %}?category=Water Painting">Water Painting</a>
            </div>
        </div>
        </div>
        <div class="col d-flex justify-content-center p-2">
        <div class="card bg-dark" style="width: 18rem;">
            <img src="/media/vecteezy_expert-carpenter-creates-art-using-old-wood-generated-by-ai_25121219_700.jpg" class="card-img-top" alt="photo to Painting">
            <div class="card-body">
                <h5 class="card-title text-white">Photo to Painting</h5>
                <p class="card-text text-white bg-dark">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a class="btn btn-primary" href="{% url 'products' %}?category=#">Photo to Painting</a>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}