{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">{{ contact.name}}</h2>
            <hr class="w-100 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for contact in contactus %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card bg-dark h-100 border-0">
                        {% if contact.image %}
                        <img class="card-img-top img-fluid" src="{{ contact.image.url }}" alt="{{ contact.name }}">
                        {% else %}
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ contact.name }}">
                        {% endif %}
                        <div class="card-footer pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col mt-0">
                                    <div class="card-body mt-0">
                                        <h5 class="card-title text-white">{{ contact.name }}</h5>
                                        <p class="card-text text-white">{{contact.description}}</p>
                                        {% if contact.name %}
                                        <a class="btn btn-primary" href="hireme/{{ contact.id }}">{{
                                            contact.category.name}}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}