<div class="toast custom-toast fade show w-100 rounded-0 pb-3" role="alert">
    <div class="arrow-up arrow-danger"></div>
    <div class="toast-header rounded-0 bg-danger">
        <div class="toast-capper w-100">
            <div class="d-flex justify-content-between">
                <strong class="text-white">Errors</strong>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>
    <div class="toast-body text-black">
        {{ message }}
    </div>
</div>