<div class="toast fade show w-100 rounded-0" role="alert">
    <div class="toast-header rounded-0 bg-warning">
        <div class="toast-capper">
            <div class="d-flex justify-content-between">
                <strong class="text-white">Warning</strong>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>
    <div class="toast-body text-black">
        {{ message }}
    </div>
</div>