<div class="toast custom-toast fade show rounded-0 pb-3" role="alert">
    <div class="arrow-up arrow-success"></div>
        <div class="toast-header rounded-0 bg-success">
            <div class="toast-capper w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-white">Success</strong>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
        <div class="toast-body text-black">
           {{ message }}
        </div>
 
        <div class="container p-2">
            {% if grand_total and not on_profile_page %}
            <p class="text-white py-1">Your bag: ({{ product_count }})</p>
            <div class="bag-notification-wrapper">
                {% for item in bag_items %}
                <div class="row">
                    <div class="col-3 my-1">
                        {% if item.product.image %}
                        <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                        {% else %}
                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                        {% endif %}
                    </div>
                    <div class="col-9">
                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                        <p class="my-0 small">Size: {% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                        <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <a href="{% url 'gallery_view_bag' %}" class="btn btn-black btn-block rounded-0 w-100">
                        <span class=" small text-uppercase">Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
</div>